@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:'inter',sans-serif;
    transition: 1s;
}
div::-webkit-scrollbar{
    display:none;
}

.menu-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark origin-top-left transition duration-300 ease-in-out;
}
.navbar-fixed{
    @apply z-[9999] fixed bg-white bg-opacity-80;
    backdrop-filter:blur(5px);
    box-shadow: 1px 1px 1px lightgray;
    text-shadow: 1px 1px 1px gray;  
}
.act{
    color: #67e8f9;
    transition: 0.5s color;
}
*{
    scroll-behavior:smooth;
}
.menu-active > span:nth-child(1){
    @apply -rotate-45 ;
}
.menu-active > span:nth-child(2){
    @apply -rotate-45 ;
}
.menu-active > span:nth-child(3){
    @apply -rotate-45 ;
}
#Portofolio{
    transition: 1s;
}
h2{
    transition: 1s;
}
p{
    transition: 1s;
}
span{
    transition: 1s;
}
/* DARKMDOE THEME */

.darkmode-h{
   color: red;
}
.darkmode-txt{
    color: white;
}
.darkmode-p{
    color: lightslategray;
}
.darkmode-body{
    background-color: #1F2544;
}
.darkmode-portofolio{
    background-color: #2D3250;
}

/* DARKMODE THEME */